/* Zero margin */
p {
    margin: 0;
}

body {
    margin: 0px;
}

ul {
    margin: 0;
    padding: 0px;
}


/* Link Formatting */
.link {
    color: #1100ff;
    text-decoration: none !important;
    margin: 0;
}

.link:hover {
    text-decoration: underline !important;
}


/* Wrapper */
.side-nav-bar {
    width: 15%;
    border: solid blue 3px; 
}

.wrapper {
    display: flex;
    justify-content: center;
}


/* All Content */
.content {
    width: 85%;
    border: solid pink 3px;
}


/* Header */
.header {
    display: flex;
    align-items: center;
}

.vector-main-menu {
    padding: 20px;
    display: flex;
}

.vector-main-menu>img {
    height: 20px;
}

.logo-text>a>img {
    height: 50px;
}

.wikipedia-text-svg {
    padding: 10px;
}

.search-box {
    display: flex;
    align-items: center;
    margin-left: 4em;
}

.container-search {
    border: 1px solid #b9bec4;
    display: flex;
    align-items: center;
    width: 400px;
}

.search-icon {
    width: 20px;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.search-bar {
    margin: 0px;
    padding: 0px;
    border: none;
    height: 35px;
    width: 400px;
}

.search-bar:focus {
    outline: none; /* Remove selection when focused */
}

.search-button {
    display: block;
    height: 37px;
    border: 1px solid #b9bec4;
}

.user-links-main {
    display: flex;
    margin-left: 20em;
    
}

.authorization-nav>ul>li>a {
    display: block;
    padding: 5px;
}

.authorization-nav>ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.dropdown-checkbox {
    display: inline-flex;
    height: 20px;
    margin-left: 1em;
}


/* Upper nav Bar */
.upper-nav-bar {
    display: flex;
    justify-content: space-between; 
    background-color: aquamarine;
}


.upper-nav-bar>nav>ul {
    display: flex;
}

.upper-nav-bar>nav>ul>li {
    list-style: none;
}

.upper-nav-bar>nav>ul>li>a {
    display: block;
    padding: 10px;
}

/* Styles applied to the 900px window and bottom */
@media (max-width: 900px) {
    .upper-nav-bar {
        flex-direction: column;
    }
}


/* Base information on the site main-content */
.main-content-wrapper {
    margin: 7em 10em 15em 15em;
}

.container-inbox-biota {
    display: inline-block;
    float: right;
    border: solid gray 1px;
    padding: 7px;
    margin-left: 10px;
}

.container-inbox-biota>span {
    text-align: left;
}


.hatnote>p {
    padding-left: 1.6em;
    margin-bottom: 0.5em;
}

.alloted-block {
    background-color: rgb(180,250,180)
}

.container-inbox-biota>ul>li> {
    padding: 2px;
}


