p {
    margin: 0;
}

.link {
    color: #1100ff;
    text-decoration: none !important;
    margin: 0;
}

.link:hover {
    text-decoration: underline !important;
}

ul {
    margin: 0;
    padding: 0px;
}

/* Content */
.inbox-biota {
    display: inline-block;
    float: right;
    border: solid gray 1px;
    padding: 7px;
    margin-left: 10px;
}

.inbox-biota>span {
    text-align: left;
}


.alloted-block {
    background-color: rgb(180,250,180)
}

li {
    padding: 2px;
}

.text-center {
    text-align: center;
}

.hatnote>p {
    padding-left: 1.6em;
    margin-bottom: 0.5em;
}

.main-wrapper {
    margin: 7em 10em 15em 15em;
}

/* Title */

.nav-bar {
    display: flex;
    justify-content: space-between; 
    background-color: aquamarine;


}


.nav-bar>nav>ul {
    display: flex;
}

.nav-bar>nav>ul>li {
    /* margin-right: 40px;
    margin-left: 40px; */
    list-style: none;

}

.nav-bar>nav>ul>li>a {
    display: block;
    padding: 10px;
}

/* Styles applied to the 900px window and bottom */
@media (max-width: 900px) {
    .nav-bar {
        flex-direction: column;
    }
}


/* Header */
.header {
    display: flex;
    align-items: center;
    /* background-color: blueviolet; */
}

.vector-main-menu {
    padding: 20px;
    display: flex;
}

.vector-main-menu>img {
    height: 20px;
}

.logo-text>a>img {
    height: 50px;
}

.wikipedia-text-svg {
    padding: 10px;
}

.search {
    display: flex;
    align-items: center;
    margin-left: 4em;
    height: 2em;
    width: 30em;
    border: 1px solid #b9bec4;
    
}

.search-icon {
    width: 20px;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.search-bar {
    margin: 0px;
    padding: 0px;
    border: none;
}

.search-bar:focus {
    outline: none; /* Remove selection when focused */
}

.search-button {
    margin-left: 230px;
    height: 2.5em;
    width: 5em;
    border: 1px solid #b9bec4;

}


.authorization-nav {
    
}


.authorization-nav>ul>li>a {
    display: block;
    padding: 10px;
}

.authorization-nav>ul {
    display: flex;
    list-style: none;
}